# Start of script
# .gitattributes
# This file defines what languages can show up in the GitHub linguist menu (the menu that tells you what percentage each language is using up on this project.
# Some non-programming languages must be included manually with this file. Want to create your own? Do something similar to what is done here, and name the file
# .gitattributes
# and nothing else, no characters before, no characters after
# Start of linguist script
# YAML
# Not enough HTML to supplement YAML yet, so it is not included
*.yml linguist-detectable=false
*.yml linguist-documentation=false
*.yaml linguist-detectable=false
*.yaml linguist-documentation=false
# HTML
*.htm linguist-detectable=true
*.htm linguist-documentation=false
*.html linguist-detectable=true
*.html linguist-documentation=false
*.mhtm linguist-detectable=true
*.mhtm linguist-documentation=false
*.mhtml linguist-detectable=true
*.mhtml linguist-documentation=false
*.xhtm linguist-detectable=true
*.xhtm linguist-documentation=false
*.xhtml linguist-detectable=true
*.xhtml linguist-documentation=false
# Makefile (GNU Make)
# Not enough HTML to supplement Makefile yet, so it is not included
*.mk linguist-detectable=false
*.mk linguist-documentation=false
# SVG
# Not enough HTML to supplement SVG yet, so it is not included
*.svg linguist-detectable=false
*.svg linguist-documentation=false
# Markdown
# Do not include, as it would become the 100% dominant language and would hide all the other languages as "other"
*.md linguist-detectable=false
*.md linguist-documentation=false
*.mkd linguist-detectable=false
*.mkd linguist-documentation=false
*.markdpwn linguist-detectable=false
*.markdown linguist-documentation=false
# End of linguist script
# File info
# File type: .gitattributes file (.gitatributes)
# File version: 1 (Thursday, August 26th 2021 at 6:08 pm)
# Line count (including blank lines and compiler line): 49
# End of script
